main .hero {
  min-height: 200px;
  background-color: var(--dark-blue);
  background-image: url("../../assets/images/offers-hero.jpg");
  background-position: center -500px; /* moves the image 50 pixels up */
  background-repeat: no-repeat;
  background-size: 115%; /* To scale up the image */
  overflow: auto;
  padding-top: 100px;
  position: relative;
  z-index: 0; /* To ensure the gradient is below the content */
}

main .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  z-index: 0; /* To ensure the gradient is above the image */
}
main .hero .content {
  position: relative;
  z-index: 2; /* This should be higher than the z-index of the pseudo-element */
}
