main .hero {
  min-height: 200px;
  background-color: var(--dark-blue);
  background-image: url("../../assets/images/visa-services-hero.jpg");
  background-position: center -500px; /* moves the image 50 pixels up */
  background-repeat: no-repeat;
  background-size: 115%; /* To scale up the image */
  overflow: auto;
  padding-top: 100px;
  position: relative;
  z-index: 0; /* To ensure the gradient is below the content */
}

main .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  z-index: 0; /* To ensure the gradient is above the image */
}
main .hero .content {
  position: relative;
  z-index: 2; /* This should be higher than the z-index of the pseudo-element */
}

/* ===========================================
    - services
=============================================*/

section.services {
  margin-top: 50px;
}

section.services h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
}

.services-wrapper {
  padding-top: 30px;
}

section.services .service-item {
  border-radius: 16px;
  padding: 8px;
  margin-bottom: 16px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: #f5f5f5; /* Update the background color to a suitable color */
}

section.services .service-item:hover {
  color: var(--dark-blue);
  background-color: var(--light-blue);
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

section.services .service-item .service-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  /* max-height: 200px; */
  height: 200px;
  transition: transform 0.3s;
}

section.services .service-item .service-image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

section.services .service-item:hover .service-image-wrapper img {
  transform: scale(1.5) rotate(5deg);
}

section.services .service-item:hover p {
  color: var(--dark-blue);
}
section.services .service-item:hover a {
  color: var(--white);
  background: rgb(91, 86, 160);
}
.dash-separator {
  border-bottom: 1px dashed var(--light-gray);
  margin: 8px auto;
}

.service-features .service-feature {
  display: inline-block;
  margin-left: 16px;
}

.service-features .service-feature i {
  margin-left: 4px;
}

.service-item ul.service-timeline {
  padding-right: 0;
  margin: auto auto 24px;
}

.service-item .service-timeline li {
  list-style: none;
}

.service-item .service-timeline li p i {
  margin-left: 8px;
}

.service-item .btn {
  min-width: 100px;
}

section.services a.explore {
  display: block;
  margin: 50px auto 50px;
  width: fit-content;
}
